@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.app {
  min-height: 100svh;
  background-image: url('./assets/bg2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*home page*/
.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-page h1 {
  font-family: "Darumadrop One", sans-serif;
  font-size: 3rem;
  color: #272644;
  margin: 0;
}

.home-page p {
  font-family: "Elms Sans", sans-serif;
  font-size: 1.2rem;
  margin-top: 20px;
}

.snoopy-gif {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.snoopy-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.snoopy-button:hover {
  transform: scale(1.2) rotate(3deg);
}

/*loading page*/
.loading-page {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;

  background-image: url('./assets/bg2.png');
  background-size: cover;
  background-position: center;
}

/*letter page*/
.letter-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.letter-page h1 {
  font-family: "Darumadrop One", sans-serif;
  font-size: 3rem;
  color: #272644;
  margin: 0;
  margin-top: 10px;
}

.letter-page p {
  font-family: "Elms Sans", sans-serif;
  font-size: 1.2rem;
}

.keep-looking-button {
  margin-top: 30px;
  padding: 12px 24px;

  background: #fff;
  border: 2px solid #222;
  border-radius: 12px;

  font-family: "Elms Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #272644;

  cursor: pointer;

  box-shadow: 0 5px 0 #222;
  transition: all 0.1s ease;
}

.keep-looking-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 7px 0 #222;
}

.keep-looking-button:active {
  transform: translateY(4px);
  box-shadow: 0 1px 0 #222;
}